form{
    border: 1px solid #ddd; /* Delineado suave */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 70%;
    border-radius: 10px;  
    padding: 10px;
}

.inputform{
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.data{
    display: flex;
    justify-content: space-evenly;
    height: 90%;
    margin-top: 5%;
}

.overflow-auto{
    border: 1px solid #ddd; /* Delineado suave */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 50%;
    width: 50%;  
    border-radius: 10px;  
}

.table-container {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;

}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th{
    width: 30vw;
}