{# Herencia de template base pata navbar y gooter #}
{% extends './layouts/base.html' %}

{# Carga de static para este template #}
{% load static %}
{# Hoja de estilos para este template #}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{# Contenido de formulario #}
{% block content %}
  <!-- Contenedor form y tabla -->
  <div class="container-fluid data">
    <!-- Formulario sin auto completado y sin validacion por default -->
    <form id="form" method="POST" action="{% url 'index' %}" autocomplete="off" novalidate>
      <h1>Form</h1>
      {% csrf_token %}
      <div class="flex">
        <!-- Name / Nombre -->
        <label>
          {{ form.name }}
          <span>{{ form.name.label }}</span>
        </label>
        <!-- Lastname / Apellido -->
        <label>
          {{ form.lastname }}
          <span>{{ form.lastname.label }}</span>
        </label>
      </div>
      <!-- City / Ciudad -->
      <label>
        {{ form.city }}
        <span>{{ form.city.label }}</span>
      </label>
      <!-- Country / Pais -->
      <label>
        {{ form.country }}
        <span>{{ form.country.label }}</span>
      </label>
      <button class="submit" type="submit">Send</button>
    </form>

    <!-- Contenedor tabla -->
    <div class="table-container">
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Lastname</th>
                  <th>City</th>
                  <th>Country</th>
              </tr>
          </thead>
          <tbody>
              {% for i in person %}
                  <tr>
                      <td>{{ i.name }}</td>
                      <td>{{ i.lastname }}</td>
                      <td>{{ i.city }}</td>
                      <td>{{ i.country }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
    
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
