{% comment %}Barra de navegación Esta seccion es una parte- trozo del archivo base, se incluye dentro del archivo base para mantener un mejor orden del codigo{% endcomment %}

{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="icon_navbar" src="{% static 'img/icono_formulario.png' %}" width="50px" alt="icono de formulario" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <p>Formulario Django</p>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 morepj" align="right">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/josemedina1?tab=repositories">Mas proyectos</a>
        </li>
      </ul>
  </div>
</nav>
