main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    border: 2px solid red;
}

ul{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-geometrico-mosaico_1055-3074.jpg);
    border-radius: 10%;
}